#navbarSupportedContent{
    margin-left: 50px;
    font-size: 15px;
    font-weight: 500;
}
.nav-item{
    margin-right: 20px;
}
.bi-whatsapp{
    color: green;
}
.bi-instagram{ 
    color: red;
 
    }
    .bi-youtube{ 
        color: red;
    }
    .navbar-brand{
        img{
            height: 60px;
            width: 180px;
        }
    }