#navbarSupportedContent{
    margin-left: 50px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
}

.nav-item {
    margin-right: 20px;
    // color: #000B67;
    a{
        color: #333333;
    }
    .active{
        font-weight: 600
    }
}
.bi-whatsapp{
    color: green;
}
.bi-instagram{ 
    color: red;
 
    }
    .bi-youtube{ 
        color: red;
    }
    .navbar-brand{
        img{
            height: 64px;
            width: 180px;
        }
    }