.footer-section {
    background: #260910;
    // background: linear-gradient(90deg,
    //         #8B0828 0%,
    //         #000B67 100%);
    position: relative;
    overflow: hidden;
    z-index: 9;
}

#send-form {

    background: #fbfbfb;
    .card {
        box-shadow: 0px 0px 10px 1px rgba(3, 3, 2, 0.05);
        border: none;
    }

    .applink__input .text {
        outline: none;
        border: none;
        padding-left: 20px;
        flex-grow: 100;
        background-color: #ffffff;
    }

    .applink__input,
    .applink__input {
        display: inline-block;
    }

    .applink__input {
        width: 100%;
        border: 1px solid #d7d7e0;
        border-radius: 4px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .applink__input .country-code {
        vertical-align: bottom;
        background-color: #ffffff;
        border-right: 1px solid rgba(180, 180, 190, .3);
    }

    .u-d__flex {
        display: flex;
    }

    .applink__input .country-code,
    .u-padding--15,
    .text {
        padding: 12px;
    }

    .form__padding {
        padding: 0px 50px 0px 50px;
    }


}