
<footer class="footer-section">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget company-intro-widget">
            <a href="#" class="site-logo"><img src="assets/logo.jpeg"></a>
            <ul class="company-footer-contact-list">
              <li> Dhyanalinga Builders & Promoters,<br>14/1, Karambakkam First Street ,<br>Porur,<br>Chennai-116</li>

              <li><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                  class="bi bi-telephone-fill mr-5" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                </svg>+91 9003049583 </li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                  class="bi bi-telephone-fill  mr-5" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                </svg> 044-24767864
              </li>
            </ul>
          </div>
        </div><!-- widget end -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget course-links-widget">
            <h5 class="widget-title">Popular Links</h5>
            <ul class="courses-link-list">
              <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Our Projects</a></li>
              <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Cost Estimator</a></li>
              <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>About us</a></li>
              <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Home</a></li>
              <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Contact Us</a></li>
            </ul>
          </div>
        </div><!-- widget end -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget latest-news-widget">
            <h5 class="widget-title">Our Blogs</h5>
            <ul class="small-post-list">
              <li>
                <div class="small-post-item">
                  <a href="#" class="post-date">July 18, 2018</a>
                  <h6 class="small-post-title"><a href="#">Lorem Ipsum is simply dummy text of the printing.</a></h6>
                </div>
              </li><!-- small-post-item end -->
              <li>
                <div class="small-post-item">
                  <a href="#" class="post-date">July 28, 2018</a>
                  <h6 class="small-post-title"><a href="#">Lorem Ipsum is simply dummy text of the printing</a></h6>
                </div>
              </li><!-- small-post-item end -->
            </ul>
          </div>
        </div><!-- widget end -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <!-- <div class="widget newsletter-widget">
              <h5 class="widget-title">Newsletter</h5>
              <div class="footer-newsletter">
                <p>Sign Up to Our Newsletter to Get Latest Updates & Services</p>
                <form class="news-letter-form">
                  <input type="email" name="news-email" id="news-email" placeholder="Your email address">
                  <input type="submit" value="Send">
                </form>
              </div>
            </div> -->
        </div><!-- widget end -->
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-sm-left text-center">
          <span class="copy-right-text">© 2025 <a href="#">Dhyanalinga builders & Promoters
            </a> All Rights Reserved.</span>
        </div>
      </div>
    </div>
  </div><!-- footer-bottom end -->
</footer>