#contact {
  

    
    .card-text {
        font-size: 14px;
    }
    .card-body {
        padding: 0px 0px 0px 0px;
        margin-top: 5px;
    }

    svg {
        color: #C5853A;
    }
    .title{
        font-size: 20px;
        color: #C5853A;
        font-weight: 500;
        text-align: center;
        letter-spacing: 2px;
    }
}


