<section id="about_mains">
    <div class="container pl-80 pr-80">
        <div class="row mt-80">
            <div class="col-lg-12 col-md-12">
                <div class="section__title-wrapper  pt-10">
                    <span class="sub-title">About us </span>
                    <h2 class="section__title">Explore how our work has changed the life of our customers</h2>
                </div>
            </div>
        </div>

        
<section id="about-us" class="about-us-2 section-space overflow-hidden">
    <div class="container">
        <div class="row flex-column-reverse flex-xl-row  mt-50">
            <div class="col-xl-6">
                <div class="section__title-wrapper  pt-50">
             
                    <h2 class="about_intro_text"><span class="bold name_highlight">Dhyanalinga builders & Promoters</span> is Changing the Way
                        New Ideas Come to Life</h2>
                    <p class="fs-18">25 years experienced person teaching civil Technics,Formulas and method of
                        construction works in Tamil easy and interesting way</p>

                    <!-- <h2 class="section__title mb-13">We build relationships not just houses</h2>
                    <h2 class="section__title mb-13">25 years experienced person teaching civil Technics,Formulas and method of construction works in Tamil easy and interesting way</h2> -->
                </div>
                <ul class="about-us__list mb-25 mt-30">
                    <li><span><svg width="16" height="13" viewBox="0 0 17 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.002 1L5.22195 11L1.00195 6.5" stroke="#F44E19" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg></span>
                        Market Research
                    </li>
                    <li class="mt-20"><span><svg width="16" height="13" viewBox="0 0 17 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.002 1L5.22195 11L1.00195 6.5" stroke="#F44E19" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg></span>
                        Industrial manufacturing
                    </li>
                    <li><span><svg width="16" height="13" viewBox="0 0 17 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.002 1L5.22195 11L1.00195 6.5" stroke="#F44E19" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg></span>
                        Pre-construction services
                    </li>
                    <li class="mt-20"><span><svg width="16" height="13" viewBox="0 0 17 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.002 1L5.22195 11L1.00195 6.5" stroke="#F44E19" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg></span>
                        Building and construction
                    </li>
                </ul>
                <p class="fs-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                    galley of type and scrambled it to make a type specimen book.</p>

            </div>
            <div class="col-xl-6">
                <div class="about-us-2__customer">
                    <div class="about-us-2__customer-shape">
                        <img src="/assets/7.png" alt="image not found">
                    </div>
                    <h3>25+</h3>
                    <h6>Years of Experiences</h6>
                </div>
                <div class="our-skill-more__media d-flex align-items-center align-items-xl-end flex-column">
                    <div class="our-skill-more__media-img img1" data-background="assets/15.png"
                        style="background-image: url(&quot;assets/15.png&quot;);"><img src="assets/17.jpg" alt=""></div>
                    <div class="our-skill-more__media-img img2"><img src="assets/16.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>

    </div>
</section>