<section id="project_mains">
    <div class="container pl-80 pr-80">
        <div class="row mt-80">
            <div class="col-lg-12 col-md-12">
                <div class="section__title-wrapper  pt-10">
                    <span class="sub-title">Our Projects </span>
                    <h2 class="section__title">Explore how our work has changed the life of our customers</h2>
                </div>
            </div>
        </div>

        <div class="row mt-30">
            <div class="col-lg-12">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">Active</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile"
                            aria-selected="false">Completed</button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                            type="button" role="tab" aria-controls="nav-contact" aria-selected="false">About to
                            Complete</button>
                        <button class="nav-link" id="nav-launch-tab" data-bs-toggle="tab" data-bs-target="#nav-launch"
                            type="button" role="tab" aria-controls="nav-launch" aria-selected="false">Launching
                            Soon</button>

                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                        tabindex="0">
                        <div class="row mt-30">
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                        tabindex="0">
                        <div class="row mt-30">
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"
                        tabindex="0">
                        <div class="row mt-30">
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-launch" role="tabpanel" aria-labelledby="nav-launch-tab"
                        tabindex="0">
                        <div class="row mt-30">
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>