
.testimonial-one__client-info {
    position: relative;
    display: flex
;
    justify-content: space-between;
    align-items: center;
}
.testimonial-one__client-details {
    position: relative;
    display: flex
;
    align-items: center;
}
.testimonial-one__client-img {
    position: relative;
    display: block;
    img{
width: 70px;
    }
 
}
.testimonial-one__client-content {
    margin-left: 15px;
    h4{
        font-size: 18px;
        font-weight: 600;
    }
}
.campaign-one__img {
    height: 300px;
    position: relative;
    overflow: hidden;
}

.process-content-area {
    display: grid
;
    grid-template-columns: repeat(4, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 25px;
    padding-top: 50px;
}
.process-item {
    max-width: 305px;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.process-item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 170px;
    bottom: -20px;
    left: 0;
    background: rgba(55, 58, 63, 0.1);
    z-index: -1;
    border-radius: 5px;
}
.process-item .process-content {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    background:#ffffff;
    -webkit-box-shadow: 0px 4px 30px 0px var(--tj-color-grey-5);
    box-shadow: 0px 4px 30px 0px var(--tj-color-grey-5);
    text-align: center;
    border-radius: 5px 5px 0 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.process-item .process-content .process-icon {
    background: var(--tj-color-grey-2);
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    line-height: 1;
    font-size: 40px;
    margin-top: -50px;
    padding: 8px 8px;
    position: relative;
    z-index: 1;
}
.process-item .process-content .process-text {
    padding: 25px 30px 40px;
}
.process-item .process-content .process-icon::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, right top, from(var(--tj-color-theme-primary)), to(var(--tj-color-theme-secondary)));
    background: linear-gradient(90deg, var(--tj-color-theme-primary) 0%, var(--tj-color-theme-secondary) 100%);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}
.process-item .process-content .process-icon {
    background: var(--tj-color-grey-2);
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    line-height: 1;
    font-size: 40px;
    margin-top: -50px;
    padding: 8px 8px;
    position: relative;
    z-index: 1;
}
.process-item .process-content .process-text .process-number span {
    font-size: 55px;
    font-family: var(--tj-ff-heading);
    font-weight: var(--tj-fw-ebold);
    line-height: 1;
    -webkit-text-fill-color: var(--tj-color-grey-2);
    -webkit-text-stroke: 1px var(--tj-color-text-body);
}
.process-item .process-content .process-text .title {
    margin-bottom: 15px;
}
.process-item:nth-child(even)::before {
    top: -20px;
}



.process-item:nth-child(even) .process-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column-reverse;
}