<section id="project_mains">
    <div class="container pl-80 pr-80">
        <div class="row mt-80">
            <div class="col-lg-12 col-md-12">
                <div class="section__title-wrapper  pt-10">
                    <span class="sub-title">Our Projects </span>
                    <h2 class="section__title">Explore how our work has changed the life of our customers</h2>
                </div>
            </div>
        </div>

        <div class="row mt-30">
            <div class="col-lg-8">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">Active</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile"
                            aria-selected="false">Completed</button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                            type="button" role="tab" aria-controls="nav-contact" aria-selected="false">About to
                            Complete</button>
                        <button class="nav-link" id="nav-launch-tab" data-bs-toggle="tab" data-bs-target="#nav-launch"
                            type="button" role="tab" aria-controls="nav-launch" aria-selected="false">Launching
                            Soon</button>

                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                        tabindex="0">
                        <div class="row mt-30">
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                        tabindex="0">
                        <div class="row mt-30">
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"
                        tabindex="0">
                        <div class="row mt-30">
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-launch" role="tabpanel" aria-labelledby="nav-launch-tab"
                        tabindex="0">
                        <div class="row mt-30">
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="campaign-one__single wow fadeInUp animated" data-wow-duration="1500ms"
                                    data-wow-delay="000ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="campaign-one__img__wrapper">
                                        <div class="campaign-one__img">
                                            <img src="assets/16.jpg" alt="">
                                            <a href="projects-details.html" class="campaign-one__single__img__link"></a>
                                        </div>
                                        <div class="campaign-one__categories">
                                            <span class="posted_in">
                                                <a href="" rel="tag"> No. of Floors: G+2 <br>Location : Chennai
                                                    <br>Buildup Area : 1000 Sqft </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- <div class="about-us-2__customer">
                    <div class="about-us-2__customer-shape">
                        <img src="/assets/7.png" alt="image not found">
                    </div>
                    <h3>25+</h3>
                    <h6>Years of Experiences</h6>
                </div> -->
            </div>
        </div>


    </div>
</section>
<section class="our__steps mt-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
               <div class="process-content-area">
                  <div class="process-item wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                     <div class="process-content">
                        <div class="process-icon">
                           <div class="icon-inner">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journals" viewBox="0 0 16 16">
                                <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2"/>
                                <path d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0"/>
                              </svg>
                           </div>
                        </div>
                        <div class="process-text">
                           <div class="process-number">
                              <span>01</span>
                           </div>
                           <h4 class="title">Documentation</h4>
                           <div class="desc">
                              <p>Regular water usage tends to be consistent. If you god notice a spike in</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="process-item wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                     <div class="process-content">
                        <div class="process-icon">
                           <div class="icon-inner">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journals" viewBox="0 0 16 16">
                                <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2"/>
                                <path d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0"/>
                              </svg>
                           </div>
                        </div>
                        <div class="process-text">
                           <div class="process-number">
                              <span>02</span>
                           </div>
                           <h4 class="title">Soil Test</h4>
                           <div class="desc">
                              <p>Shut off the water supply to that faucet and contact a plumber for repair</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="process-item wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                     <div class="process-content">
                        <div class="process-icon">
                           <div class="icon-inner">
                              <i class="flaticon-vacuum-cleaner"></i>
                           </div>
                        </div>
                        <div class="process-text">
                           <div class="process-number">
                              <span>03</span>
                           </div>
                           <h4 class="title">Construction</h4>
                           <div class="desc">
                              <p>It's recommended to have your septic tank inspected and pumped every</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="process-item wow fadeInUp" data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                     <div class="process-content">
                        <div class="process-icon">
                           <div class="icon-inner">
                              <i class="flaticon-toilet"></i>
                           </div>
                        </div>
                        <div class="process-text">
                           <div class="process-number">
                              <span>04</span>
                           </div>
                           <h4 class="title">Settle Up</h4>
                           <div class="desc">
                              <p>Insulating your pipes and ensuring proper heating can help prevent</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
    </div>
</section>