<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .about-us-2__media {
    position: relative;
    margin-right: 80px;
  }

  .about-us-2__star-shape {
    left: -330px;
    top: -23px;
    position: absolute;
  }

  .about-us-2__left-shape {
    position: absolute;
    bottom: 0;
    left: -70px;
    z-index: -1;
  }

  .about-us-2__right-shape {
    position: absolute;
    bottom: -75px;
    right: 0;
    z-index: -1;
  }

  .about-us-2__bottom-shape {
    right: 0;
    z-index: -1;
    bottom: 133px;
    position: absolute;
  }

  .rr-upDown {
    -webkit-animation: upDown 1.3S infinite alternate;
    animation: upDown 1.3S infinite alternate;
  }

  .about-us-2__thumb-1 {
    margin-top: 57px;
  }

  .about-us-2__thumb-2 {
    position: absolute;
    top: -50px;
    right: 0;
  }

  .about-us-2__customer {
    background-color: var(--rr-heading-primary);
    background: linear-gradient(90deg,
        #0d57d7 0%,
        #4d8eff 100%);
    border: 8px solid #FFFFFF;
    border-radius: 3px;
    height: 120px;
    width: 270px;
    padding: 15px 24px 12px;
    position: absolute;
    /* bottom: 60px;
    right: 60px; */
  }

  .about-us-2__customer-shape {
    position: absolute;
    bottom: -8px;
    right: -25px;
  }

  .section-space {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .about-us-2__customer h3 {
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: 600;
  }

  .about-us-2__customer h6 {
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
  }

  .clip-t-b {
    z-index: 10;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-animation: clip-t-b 1s;
    animation: clip-t-b 1s;
    -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  .about-us-2__content {
    position: relative;
  }

  .about-us-2__big-shape {
    right: 0px;
    position: absolute;
  }

  .section__title-wrapper {
    position: relative;
    z-index: 1;
  }

  .section__title {
    margin-top: 15px;
  }

  .section__subtitle.mb-13 {
    margin-bottom: 13px;
  }

  .section__subtitle .left-separetor {
    left: inherit;
    right: calc(100% + 10px);
  }

  .section__subtitle {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: red;
    position: relative;
  }



  .about-us-2__award {
    margin-bottom: 35px;
    max-width: 521px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
  }

  .about-us-2__award__item {
    gap: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    padding: 15px 20px;
    background: #f1f6ff;
    border-radius: 3px;
    /* -webkit-box-shadow: 0px 10px 20px rgba(21, 24, 27, 0.1); */
    /* box-shadow: 0px 10px 20px rgba(21, 24, 27, 0.1); */
  }

  .about-us__shape-2 {
    width: 644px;
    height: 644px;
    left: 61px;
    bottom: -104px;
    border-radius: 500px;
    background: rgba(255, 54, 54, 0.1);
    /* -webkit-filter: blur(50px);
    filter: blur(50px); */
  }

  .item-contents {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
  }

  .what-we-do-2__item-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    height: 100%;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .tj-slider-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #f1f6ff;
    position: relative;
    z-index: 1;
  }

  .tj-slider-section .hero-shapes {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    max-width: 535px;
    width: 100%;
  }

  .slider-content-area .sub-title {
    display: block;
    font-size: 18px;
    font-family: var(--tj-ff-heading);
    font-weight: var(--tj-fw-bold);
    color: #333333;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    padding-left: 65px;
    margin-bottom: 15px;
  }

  .slider-content-area .desc {
    font-size: 18px;
    font-family: var(--tj-ff-heading);
    font-weight: var(--tj-fw-sbold);
    line-height: 1.9;
    margin-top: 20px;
    max-width: 615px;
    width: 100%;
  }

  .popup-videos-button::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border: 1px solid var(--tj-color-theme-primary);
    border-radius: 50%;
  }

  .popup-videos-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    line-height: 1;
    font-size: 18px;
    color: #ffffff;
    /* background: -webkit-gradient(linear, left top, right top, from(var(--tj-color-theme-primary)), to(var(--tj-color-theme-secondary))); */
    background: linear-gradient(90deg, #0d57d7 0%, #4d8eff 100%);
    border-radius: 50%;
    position: relative;
    z-index: 2;
  }

  .popup-videos-button::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background: rgba(13, 87, 215, 0.2);
    border-radius: 50%;
    -webkit-animation: pulse-border 3000ms ease-out infinite;
    animation: pulse-border 3000ms ease-out infinite;
    z-index: -1;
  }

  .slider-content-area .slider-infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 35px;
    margin-top: 40px;
  }

  .slider-content-area .sub-title::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 1px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    background: #373a3f;
  }

  /* .what-we-do-2__item-bg {
    background-image: url(assets/big_shape.png);
  } */
</style>
<app-header></app-header>
<section id="top__carousel">
  <div class="container-fluid">
    <section class="tj-slider-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7">
            <div class="slider-content-area">
              <span class="sub-title">We build relationships not just houses </span>
              <h1 class="slider-title">Dhyanalinga builders & Promoters</h1>
              <div class="desc wow fadeInUp" data-wow-delay=".7s"
                style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                <p> 25 years experienced person teaching civil Technics,Formulas and method of construction works in Tamil easy and interesting way</p>
              </div>
              <div class="slider-infos wow fadeInUp" data-wow-delay=".8s"
                style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                <div class="slider-button">
                  <button class="tj-primary-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Let's Contruct
                  </button>
                </div>
                <div class="video-area">
                  <a class="popup-videos-button" target="_blank" data-autoplay="true" data-vbtype="video"
                    href="https://www.youtube.com/@DhyanalingabuildersPromoters">
                    <span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-play-fill" viewBox="0 0 16 16">
                        <path
                          d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393" />
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5">

          </div>
        </div>
      </div>
      <div class="hero-shapes">
        <img src="assets/shape1.svg" alt="Shapes">
      </div>
    </section>
  </div>
</section>
<!-- <section id="services">

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="section__title-wrapper">
          <span class="section__subtitle"><span class="left-separetor"></span>Our services</span>
          <h2 class="section__title">Professional And Expert Roofing Contractor.</h2>
          <p class="">We ensure peace of mind, trust, and transparent house construction services.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mt-10">
          <div class="ser__card">
            <p class="ser__card-heading">Roofing Contractor</p>
            <p class="ser__card-description">We ensure peace of mind, trust, and transparent house construction
              services.
            </p>
          </div>
        </div>
        <div class="col-md-6 mt-10">
          <div class="ser__card">
            <p class="ser__card-heading">Roofing Contractor</p>
            <p class="ser__card-description">We ensure peace of mind, trust, and transparent house construction
              services.
            </p>
          </div>
        </div>
        <div class="col-md-6 mt-10">
          <div class="ser__card">
            <p class="ser__card-heading">Roofing Contractor</p>
            <p class="ser__card-description">We ensure peace of mind, trust, and transparent house construction
              services.
            </p>
          </div>
        </div>
        <div class="col-md-6 mt-10">
          <div class="ser__card">
            <p class="ser__card-heading">Roofing Contractor</p>
            <p class="ser__card-description">We ensure peace of mind, trust, and transparent house construction
              services.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- <section id="about-us" class="about-us-2 section-space overflow-hidden">
  <div class="container">
    <div class="row flex-column-reverse flex-xl-row">
      <div class="col-xl-6">
        <div class="about-us-2__media">

          <div class="about-us-2__star-shape  rr-downUp">
            <img src="/assets/6.png" alt="image not found">
          </div>

          <div class="about-us-2__left-shape rr-downUp">
            <img src="/assets/5.png" alt="image not found">
          </div>
          <div class="about-us-2__right-shape rr-downUp">
            <img src="/assets/4.png" alt="image not found">
          </div>
          <div class="about-us-2__bottom-shape rr-upDown">
            <img src="/assets/3.png" alt="image not found">
          </div>

          <div class="about-us-2__thumb-1 wow clip-t-b br-20" style="visibility: visible;animation-name: clip-t-b;">
            <img class="" src="/assets/1.jpg" alt="image not found">
          </div>
          <div class="about-us-2__thumb-2 wow clip-t-b " style="visibility: visible; animation-name: clip-t-b;">
            <img src="/assets/2.jpg" alt="image not found">
          </div>

          <div class="about-us-2__customer">
            <div class="about-us-2__customer-shape">
              <img src="/assets/7.png" alt="image not found">
            </div>
            <h3>25+</h3>
            <h6>Years of Experiences</h6>

          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="about-us-2__content">

          <div class="section__title-wrapper pt-50">
            <span class="section__subtitle"><span class="left-separetor"></span>Who we are</span>
            <h2 class="section__title">Professional And Expert Roofing Contractor.</h2>
            <p class="mb-40 mb-xs-30">We ensure peace of mind, trust, and transparent house construction services.
            </p>
          </div>

          <div class="about-us-2__award">
            <div class="about-us-2__award__item active">
              <div class="about-us-2__award-icon">
                <img src="/assets/award-1.png" alt="image not found">
              </div>
              <div class="about-us-2__award-text">
                <h6>Certified &amp; Awards winner"</h6>
              </div>
            </div>
            <div class="about-us-2__award__item active">
              <div class="about-us-2__award-icon">
                <img src="/assets/award-2.png" alt="image not found">
              </div>
              <div class="about-us-2__award-text">
                <h6>Best Quality
                  Services"</h6>
              </div>
            </div>
          </div>

          <p class="description">Sponsoring and manaing work visas parts becoming results for fullfill your dream wishes
          </p>


          <ul class="about-us__list mb-25">
            <li><span><svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.002 1L5.22195 11L1.00195 6.5" stroke="#F44E19" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg></span>
              Market Research
            </li>
            <li class="mt-20"><span><svg width="17" height="12" viewBox="0 0 17 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.002 1L5.22195 11L1.00195 6.5" stroke="#F44E19" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg></span>
              Industrial manufacturing
            </li>
            <li><span><svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.002 1L5.22195 11L1.00195 6.5" stroke="#F44E19" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg></span>
              Pre-construction services
            </li>
            <li class="mt-20"><span><svg width="17" height="12" viewBox="0 0 17 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.002 1L5.22195 11L1.00195 6.5" stroke="#F44E19" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg></span>
              Building and construction
            </li>
          </ul>
          <div class="about-us-2__btn-box mt-30">
            <a class="connect__btn">
              Let's contruct
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="tj-service-section style-2 pt-50">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-6">
        <div class="tj-heading-area">
          <div class="subs-title wow fadeInUp" data-wow-delay=".2s"
            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <span><i class="flaticon-pipe-wrench"></i></span>
            <span class="sub-title">Our services</span>
          </div>
          <h2 class="title wow fadeInUp" data-wow-delay=".3s"
            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">We Provide Service For You
          </h2>
          <div class="desc wow fadeInUp" data-wow-delay=".4s"
            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <p>
              We undertake the quality building contract in and around Chennai, Kanchipuram, Thiruvallur,Chengelpet district.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="tj-service-item-two wow fadeInUp" data-wow-delay=".5s"
          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
          <div class="service-infos">
            <div class="service-number">
              01
            </div>
          </div>
          <h4 class="title"><a href="service-details.html">Industrial manufacturing</a></h4>
          <div class="desc">
            <p>This protects you in case of any offers accidents or damage that may occur during the job.</p>
          </div>
          <div class="service-button">
            <a class="read-more" href="service-details.html">Read More
              <span class="icon_box">
                <i class="icon_first flaticon-back"></i>
                <i class="icon_second flaticon-back"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="tj-service-item-two wow fadeInUp" data-wow-delay=".6s"
          style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
          <div class="service-infos">
            <div class="service-number">
              01

            </div>
          </div>
          <h4 class="title"><a href="service-details.html"> Pre-construction services</a></h4>
          <div class="desc">
            <p>This protects you in case of any offers accidents or damage that may occur during the job.</p>
          </div>
          <div class="service-button">
            <a class="read-more" href="service-details.html">Read More
              <span class="icon_box">
                <i class="icon_first flaticon-back"></i>
                <i class="icon_second flaticon-back"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-4 col-md-6">
        <div class="tj-service-item-two wow fadeInUp" data-wow-delay=".7s"
          style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
          <div class="service-infos">

            <div class="service-number">
              03
            </div>
          </div>
          <h4 class="title"><a href="service-details.html">Kitchen Plumbing</a></h4>
          <div class="desc">
            <p>This protects you in case of any offers accidents or damage that may occur during the job.</p>
          </div>
          <div class="service-button">
            <a class="read-more" href="service-details.html">Read More
              <span class="icon_box">
                <i class="icon_first flaticon-back"></i>
                <i class="icon_second flaticon-back"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="tj-service-item-two wow fadeInUp" data-wow-delay=".8s"
          style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
          <div class="service-infos">

            <div class="service-number">
              03
            </div>
          </div>
          <h4 class="title"><a href="service-details.html">Remodeling Services</a></h4>
          <div class="desc">
            <p>This protects you in case of any offers accidents or damage that may occur during the job.</p>
          </div>
          <div class="service-button">
            <a class="read-more" href="service-details.html">Read More
              <span class="icon_box">
                <i class="icon_first flaticon-back"></i>
                <i class="icon_second flaticon-back"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-feature-item wow fadeInUp" data-wow-delay=".9s"
          style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">
          <div class="feature-images" data-bg-image="assets/images/services/ferature-1.png"
            style="background-image: url(&quot;assets/images/services/ferature-1.png&quot;);"></div>
          <div class="feature-shapes"></div>
          <div class="feature-content">
            <span class="sub-title">Have You Any Question</span>
            <h3 class="title">Don’t Waste your Second! Call Us</h3>
            <div class="contact-info-one">
              <div class="contact-icon">
                <i class="flaticon-old-typical-phone"></i>
              </div>
              <div class="contact-text">
                <span>Requesting A Call:</span>
                <a class="link" href="tel:(000)123456789">(000) 123 456 789</a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
<section id="about-us" class="about-us-2 section-space overflow-hidden">
  <div class="container">
    <div class="row flex-column-reverse flex-xl-row">
      <div class="col-xl-6">
        <div class="section__title-wrapper  pt-50">
          <span class="sub-title">About us</span>
          <h2 class="section__title">Professional And Expert Roofing Contractor.</h2>
          <p class="mb-40 mb-xs-30">We ensure peace of mind, trust, and transparent house construction services.
          </p>
        </div>
        <ul class="about-us__list mb-25">
          <li><span><svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.002 1L5.22195 11L1.00195 6.5" stroke="#F44E19" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg></span>
            Market Research
          </li>
          <li class="mt-20"><span><svg width="17" height="12" viewBox="0 0 17 12" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M16.002 1L5.22195 11L1.00195 6.5" stroke="#F44E19" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg></span>
            Industrial manufacturing
          </li>
          <li><span><svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.002 1L5.22195 11L1.00195 6.5" stroke="#F44E19" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg></span>
            Pre-construction services
          </li>
          <li class="mt-20"><span><svg width="17" height="12" viewBox="0 0 17 12" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M16.002 1L5.22195 11L1.00195 6.5" stroke="#F44E19" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg></span>
            Building and construction
          </li>
        </ul>
        <p class="mb-40">Proactively pontificate client-centered relationships vis-a-vis process centric leadership
          skills. Credibly maintain focused internal or “organic” sources rather than vertical alignments.</p>
      </div>
      <div class="col-xl-6">
        <div class="about-us-2__customer">
          <div class="about-us-2__customer-shape">
            <img src="/assets/7.png" alt="image not found">
          </div>
          <h3>25+</h3>
          <h6>Years of Experiences</h6>
        </div>
        <div class="our-skill-more__media d-flex align-items-center align-items-xl-end flex-column">
          <div class="our-skill-more__media-img img1" data-background="assets/15.png"
            style="background-image: url(&quot;assets/15.png&quot;);"><img src="assets/17.jpg" alt=""></div>
          <div class="our-skill-more__media-img img2"><img src="assets/16.jpg" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about-us" class="about-us-2 section-space overflow-hidden">
  <div class="container">
    <div class="row flex-column-reverse flex-xl-row">
      <div class="col-xl-12">
        <div class="section__title-wrapper">
          <h2 class="section__title"><span class="left-separetor"></span> Our projects</h2>
          <p class="mb-40 mb-xs-30">We ensure peace of mind, trust, and transparent house construction services.
          </p>
        </div>

      </div>
      <div class="col-xl-12">

      </div>
      <owl-carousel-o [options]="customOptions_projects">
        <ng-container *ngFor="let slide of productImages">
          <ng-template carouselSlide [id]="slide.id">
            <div class="m-20">
              <img [src]="slide.image" [alt]="slide.name" [title]="slide.name">
            </div>
            <div class="mt-10">
              <div class="d-flex">
                <div class="">
                  <p class="loc_card fs-14"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-geo-fill" viewBox="0 0 16 20">
                      <path fill-rule="evenodd"
                        d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.3 1.3 0 0 0-.37.265.3.3 0 0 0-.057.09V14l.002.008.016.033a.6.6 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.6.6 0 0 0 .146-.15l.015-.033L12 14v-.004a.3.3 0 0 0-.057-.09 1.3 1.3 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465s-2.462-.172-3.34-.465c-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411" />
                    </svg> Location : <span class="loc_place">Chennai</span> </p>
                </div>

                <div class="divider-left"></div>
                <div class="">
                  <p class="loc_card fs-14"> Sq. Ft. : <span class="loc_place">1000</span> </p>
                </div>
              </div>
              <div class="desc fs-16">
                <p>
                  If you need further assistance or have specific questions about plumbing services.
                </p>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</section>
<section class="tj-counter-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="counter-item wow fadeInUp" data-wow-delay=".3s"
          style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
          <div class="counter-content">
            <div class="counter-icon">
              <i class="flaticon-review"></i>
            </div>
            <div class="tj-count"><span class="odometer odometer-auto-theme" data-count="15">
                <div class="odometer-inside"><span class="odometer-digit"><span
                      class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span
                        class="odometer-ribbon"><span class="odometer-ribbon-inner"><span
                            class="odometer-value">1</span></span></span></span></span><span
                    class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                      class="odometer-digit-inner"><span class="odometer-ribbon"><span
                          class="odometer-ribbon-inner"><span
                            class="odometer-value">5</span></span></span></span></span></div>
              </span>+</div>
          </div>
          <span class="client">Years Of Experience</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="counter-item wow fadeInUp" data-wow-delay=".4s"
          style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
          <div class="counter-content">
            <div class="counter-icon">
              <i class="flaticon-24-hours-support"></i>
            </div>
            <div class="tj-count"><span class="odometer odometer-auto-theme" data-count="10">
                <div class="odometer-inside"><span class="odometer-digit"><span
                      class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span
                        class="odometer-ribbon"><span class="odometer-ribbon-inner"><span
                            class="odometer-value">1</span></span></span></span></span><span
                    class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                      class="odometer-digit-inner"><span class="odometer-ribbon"><span
                          class="odometer-ribbon-inner"><span
                            class="odometer-value">0</span></span></span></span></span></div>
              </span>k</div>
          </div>
          <span class="client">Project Done</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="counter-item wow fadeInUp" data-wow-delay=".5s"
          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
          <div class="counter-content">
            <div class="counter-icon">
              <i class="flaticon-satisfaction"></i>
            </div>
            <div class="tj-count"><span class="odometer odometer-auto-theme" data-count="5">
                <div class="odometer-inside"><span class="odometer-digit"><span
                      class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span
                        class="odometer-ribbon"><span class="odometer-ribbon-inner"><span
                            class="odometer-value">5</span></span></span></span></span></div>
              </span>k+</div>
          </div>
          <span class="client">Clients Satisfy</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="counter-item wow fadeInUp" data-wow-delay=".6s"
          style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
          <div class="counter-content">
            <div class="counter-icon">
              <i class="flaticon-completed-task"></i>
            </div>
            <div class="tj-count"><span class="odometer odometer-auto-theme" data-count="22">
                <div class="odometer-inside"><span class="odometer-digit"><span
                      class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span
                        class="odometer-ribbon"><span class="odometer-ribbon-inner"><span
                            class="odometer-value">2</span></span></span></span></span><span
                    class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                      class="odometer-digit-inner"><span class="odometer-ribbon"><span
                          class="odometer-ribbon-inner"><span
                            class="odometer-value">2</span></span></span></span></span></div>
              </span>+</div>
          </div>
          <span class="client">Company Trusted</span>
        </div>
      </div>
    </div>
  </div>
  <div class="shapes-1">
    <img src="/assets/5.png" alt="Shapes">
  </div>
  <div class="shapes-2">
    <img src="/assets/5.png" alt="Shapes">
  </div>
</section>
<!-- <section id="why-bd" class="about-us-2 section-space overflow-hidden">
  <div class="container">
    <div class="row flex-column-reverse flex-xl-row">
      <div class="col-xl-12">
        <div class="section__title-wrapper">
          <p class="section__subtitle_centered"><span class="left-separetor"></span>Why <span
              class="builder__text">Dhyanalingaa Builders</span></p>
          <p class="section__title">We ensure peace of mind, trust, and transparent house construction services.
          </p>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="section-content">
          <div class="services-half-bottom">
            <div class="container">
              <div class="row">
                <div class="col-lg-3 col-md-6">
                  <div class="mt-icon-box-wraper m-b30">
                    <div class="relative icon-count-2 bg-gray p-a30 p-tb50">
                      <span class="icon-count-number">1</span>
                      <div class="icon-md inline-icon m-b15 site-text-primary scale-in-center">
                        <span class="icon-cell"><img src="assets/11.png" alt=""></span>
                      </div>
                      <div class="icon-content">
                        <h4 class="mt-tilte m-b25">Building <br>Construction</h4>
                        <p>lorem Ipsum available, but the majority have suffered alterati on in some form, by ious by
                          accident.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-6">
                  <div class="mt-icon-box-wraper m-b30">
                    <div class="relative icon-count-2 bg-gray p-a30 p-tb50">
                      <span class="icon-count-number">2</span>
                      <div class="icon-md inline-icon m-b15 site-text-primary scale-in-center">
                        <span class="icon-cell"><img src="assets/12.png" alt=""></span>
                      </div>
                      <div class="icon-content">
                        <h4 class="mt-tilte m-b25">Building <br>Renovation</h4>
                        <p>lorem Ipsum available, but the majority have suffered alterati on in some form, by ious by
                          accident.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-6">
                  <div class="mt-icon-box-wraper m-b30">
                    <div class="relative icon-count-2 bg-gray p-a30 p-tb50">
                      <span class="icon-count-number">3</span>
                      <div class="icon-md inline-icon m-b15 site-text-primary scale-in-center">
                        <span class="icon-cell"><img src="assets/13.png" alt=""></span>
                      </div>
                      <div class="icon-content">
                        <h4 class="mt-tilte m-b25">Building <br>Maintenance</h4>
                        <p>lorem Ipsum available, but the majority have suffered alterati on in some form, by ious by
                          accident.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-6">
                  <div class="mt-icon-box-wraper m-b30">
                    <div class="relative icon-count-2 bg-gray p-a30 p-tb50">
                      <span class="icon-count-number">4</span>
                      <div class="icon-md inline-icon m-b15 site-text-primary scale-in-center">
                        <span class="icon-cell"><img src="assets/14.png" alt=""></span>
                      </div>
                      <div class="icon-content">
                        <h4 class="mt-tilte m-b25">Architecture<br>Design</h4>
                        <p>lorem Ipsum available, but the majority have suffered alterati on in some form, by ious by
                          accident.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<section id="blogs">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="section__title-wrapper  pt-10">
          <h2 class="section__title"><span class="left-separetor"></span> Our Blogs</h2>
          <p class="mb-40 mt-10">We ensure peace of mind, trust, and transparent house construction services.
          </p>
        </div>
      </div>
    <div class="col-lg-3 mt-15">
      <div class="card">
        <!-- https://www.youtube.com/watch?v=tfvJA_pvZCs -->
        <iframe src="https://www.youtube.com/embed/tfvJA_pvZCs" allowfullscreen></iframe>
                <div class="card-body">
          <h5 class="card-title">which is best investment individual house or apartments?#civil tips</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-15">
      <div class="card">
        <iframe src="https://www.youtube.com/embed/A1e9gkTAAsU"></iframe>
                <div class="card-body">
          <h5 class="card-title">CRACKS SOLUTION FOR BUILDING IN TAMIL#Civil tips
          </h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-15">
      <div class="card">
        <iframe src="https://www.youtube.com/embed/R_y0LoKtHOE"></iframe>
        <div class="card-body">
          <h5 class="card-title">How to handle the material cost increase?</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-15">
      <div class="card">
        <iframe src="https://www.youtube.com/embed/wL30qsLGfK4"></iframe>
        <div class="card-body">
          <h5 class="card-title">VASTHU IN & OUT/ SOUTH EAST/Dhyanalinga Builders and Promoters
          </h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-15">
      <div class="card">
        <!-- https://www.youtube.com/watch?v=tfvJA_pvZCs -->
        <iframe src="https://www.youtube.com/embed/tfvJA_pvZCs"></iframe>
                <div class="card-body">
          <h5 class="card-title">which is best investment individual house or apartments?#civil tips</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-15">
      <div class="card">
        <!-- https://www.youtube.com/watch?v=tfvJA_pvZCs -->
        <iframe src="https://www.youtube.com/embed/tfvJA_pvZCs"></iframe>
                <div class="card-body">
          <h5 class="card-title">which is best investment individual house or apartments?#civil tips</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-15">
      <div class="card">
        <!-- https://www.youtube.com/watch?v=tfvJA_pvZCs -->
        <iframe src="https://www.youtube.com/embed/tfvJA_pvZCs"></iframe>
                <div class="card-body">
          <h5 class="card-title">which is best investment individual house or apartments?#civil tips</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-15">
      <div class="card">
        <iframe src="https://www.youtube.com/embed/tfvJA_pvZCs"></iframe>
                <div class="card-body">
          <h5 class="card-title">which is best investment individual house or apartments?#civil tips</h5>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- <section class="tj-cta-section">
  <div class="cta-inner" data-bg-image="/assets/1.jpg" style="background-image: url(/assets/1.jpg);">
    <div class="cta-icon">
      <i class="flaticon-meeting"></i>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="cta-content-area wow fadeInLeft" data-wow-delay=".5s"
          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
          <div class="cta-content">
            <div class="cta-text">
              <h2 class="title">Why Dhyanalingaa Builders</h2>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="counter-item wow fadeInUp" data-wow-delay=".3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="counter-content">
                      <div class="counter-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                          <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                        </svg>
                      </div>
                  </div>
                </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
           
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
           
                </div>   
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section id="faq__section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="section__title-wrapper  pt-30">
          <h2 class="section__title"><span class="left-separetor"></span> Frequently asked question</h2>
          <p class="mb-40 mt-10">We ensure peace of mind, trust, and transparent house construction services.
          </p>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                Do I have to pay the full amount before the project starts?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
              <div class="accordion-body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum. </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseTwo">
                What is the estimated time it will take to build a full house?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
              <div class="accordion-body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum. </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseThree">
                What to consider when constructing a home by a builder or constructor?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
              <div class="accordion-body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum. </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card px-15">
          <div class="form-group">
            <label for="name">Name *</label>
            <input type="text" id="name" placeholder="Name" required>
          </div>
          <div class="form-group mt-10">
            <label for="name">Mobile Number *</label>
            <input type="text" id="name" placeholder="Mobile Numbe" required>
          </div>
          <div class="form-group mt-10">
            <label for="name">Email</label>
            <input type="text" id="name" placeholder="Email" required>
          </div>
          <div class="form-group mt-10">
            <label for="name">Location of your plot</label>
            <input type="text" id="name" placeholder="Location of your plot" required>
          </div>
          <div class="form-group mt-20">
            <button class="btn btn-primary w-100" type="submit">Reqest a call back</button>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
<footer class="footer-section">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget company-intro-widget">
            <a href="#" class="site-logo"><img src="assets/logo.jpeg"></a>
            <p>We build relationships not just houses</p>
            <ul class="company-footer-contact-list">
            <li>  Dhyanalinga Builders & Promoters,<br>14/1, Karambakkam  First Street ,<br>Porur,<br>Chennai-116</li>

              <li><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-telephone-fill mr-5" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
              </svg>+91 9003049583 </li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-telephone-fill  mr-5" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
              </svg> 044-24767864
            </li>
            </ul>
          </div>
        </div><!-- widget end -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget course-links-widget">
            <h5 class="widget-title">Popular Links</h5>
            <ul class="courses-link-list">
              <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Our Projects</a></li>
              <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Cost Estimator</a></li>
              <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>About us</a></li>
              <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Home</a></li>
              <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Contact Us</a></li>
            </ul>
          </div>
        </div><!-- widget end -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget latest-news-widget">
            <h5 class="widget-title">Our Blogs</h5>
            <ul class="small-post-list">
              <li>
                <div class="small-post-item">
                  <a href="#" class="post-date">July 18, 2018</a>
                  <h6 class="small-post-title"><a href="#">Lorem Ipsum is simply dummy text of the printing.</a></h6>
                </div>
              </li><!-- small-post-item end -->
              <li>
                <div class="small-post-item">
                  <a href="#" class="post-date">July 28, 2018</a>
                  <h6 class="small-post-title"><a href="#">Lorem Ipsum is simply dummy text of the printing</a></h6>
                </div>
              </li><!-- small-post-item end -->
            </ul>
          </div>
        </div><!-- widget end -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <!-- <div class="widget newsletter-widget">
            <h5 class="widget-title">Newsletter</h5>
            <div class="footer-newsletter">
              <p>Sign Up to Our Newsletter to Get Latest Updates & Services</p>
              <form class="news-letter-form">
                <input type="email" name="news-email" id="news-email" placeholder="Your email address">
                <input type="submit" value="Send">
              </form>
            </div>
          </div> -->
        </div><!-- widget end -->
      </div>
    </div> 
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 text-sm-left text-center">
            <span class="copy-right-text">© 2025 <a href="#">Dhyanalinga builders & Promoters
            </a> All Rights Reserved.</span>
          </div>
      </div>
    </div>
  </div><!-- footer-bottom end -->
</footer>

<router-outlet />