.clip-t-b {
    img {
        border-radius: 20px;
        border: 5px solid #ffffff;
    }
}

.project__images {
    height: 550px;
    width: 100%;
}

.project__images_1 {
    height: 275px;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #333333;
    bottom: 0px;
    opacity: 0.1;
}

.overlay__text {
    // display: flex;
    position: absolute;
    bottom: -10px;
    background: #ffffff;
    width: 80%;
    height: 114px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.feature-wrapper {
    background: #f1f6ff;
    border-radius: 5px;
    border-top: 4px solid #0d57d7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 20px;
    max-width: 640px;
    width: 100%;
}

.feature-wrapper .feature-item {
    width: 50%;
    position: relative;
    z-index: 1;
}

// .feature-wrapper .feature-item::before {
//     position: absolute;
//     content: "";
//     height: 65%;
//     width: 1px;
//     top: 18%;
//     right: 0;
//     background: rgba(105, 105, 105, 0.4);
// }
.feature-wrapper .feature-item .feature-icon {
    font-size: 60px;
    line-height: 1;
    color: #0d57d7;
    margin-bottom: 10px;
}

.tj-counter-section {
    padding: 60px 0 60px;
    // background: -webkit-gradient(linear, left top, right top, from(#4d8eff), to(var(--tj-color-theme-secondary)));
    background: #C5853A;
    position: relative;
    z-index: 2;
}

.counter-item {
    margin-bottom: 30px;
    text-align: center;
}

.counter-item .counter-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    place-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {
    line-height: 1.1em;
}

.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.counter-item .client {
    font-size: 18px;
    letter-spacing: 0.32px;
    color: #ffffff;
    text-transform: uppercase;
}

.counter-item .counter-content .tj-count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 65px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #ffffff;
    line-height: 1;
}

.tj-counter-section .shapes-1 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.tj-counter-section .shapes-2 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.tj-cta-section {
    background: linear-gradient(90deg,
            #738cb8 0%,
            #4d8eff 100%);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    overflow: hidden;
}

.tj-cta-section::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(/assets/1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.cta-content-area {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 65px 0;
    position: relative;
    z-index: 2;
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .cta-content-area .cta-content {
        padding-left: 150px;
    }
}

.cta-content-area .cta-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 115px;
    position: relative;
    z-index: 2;
}

.cta-content-area .cta-content .cta-text {
    width: 100%;
}

.cta-content-area .cta-content .cta-text .title {
    color: #ffffff;
    line-height: 1.4;
    margin-bottom: 10px;
}

.cta-content-area .cta-content .cta-text .desc {
    color: #ffffff;
    letter-spacing: 0.32px;
}

.tj-cta-section .cta-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 26%;
    background-size: cover;
    height: 100%;
    background-position: top center;
    z-index: 2;
    border-right: 4px solid #4d8eff;
}

.tj-service-section {
    padding-top: 30px;
    position: relative;
    z-index: 2;
    background: var(--tj-color-grey-2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section .tj-heading-area {
    margin-bottom: 60px;
}

.tj-heading-area .subs-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
}

area .subs-title .sub-title {
    color: var(--tj-color-theme-primary);
    font-size: 18px;
    font-family: var(--tj-ff-heading);
    font-weight: var(--tj-fw-bold);
    text-transform: uppercase;
}
.title{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    // color: #9E6726;
    color: #C5853A;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}
.desc{
    font-size: 16px;
}
// .you_tube{
//     border: 1px solid #C5853A;
//     border-radius: 5px;
//     padding: 10px 15px;
//     background: #fffaf4;
// }

.about_intro_text{
    margin-top: 15px;
    font-size: 23px;
    line-height: 1.5;
}
.name_highlight{
    color: #C5853A; 
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
}
.experience_tag{
font-size: 18px;
font-weight: 600;
color: #C5853A;
letter-spacing: 1px;
}
.tj-service-item-two .service-infos .service-icon {
    position: relative;
    max-width: 54px;
    height: 72px;
    width: 100%;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--tj-color-theme-primary)), to(var(--tj-color-theme-secondary)));
    background: linear-gradient(180deg, var(--tj-color-theme-primary) 0%, var(--tj-color-theme-secondary) 100%);
    z-index: 1;
}


#our_customers{
    .card{
        border: none !important;
    }
    .card-title {
        font-size: 13px;
        font-weight: 600;
        padding-left: 0px;
        text-decoration: underline;
    }
    .card-body {
        padding-left: 0px;
    }
    .caption {
        display: -webkit-box !important;
        overflow: hidden;
        margin-top: 15px;
        word-wrap: break-word;
        line-height: 1.4;
        font-size: 13px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 36.4px;
    }
    .sub__date{
        color: rgba(17, 17, 17, 0.7);
        margin-top: 10px;
        line-height: 16px;
        font-size: 12px;
    }
    ul{
        display: flex;
        gap: 5px;
        padding-left: 0px;
        li{
            list-style-type: none;
        }
        svg{
            color: rgb(235, 201, 47);
            font-size: 12px;
        }
        a{
            font-size: 12px;
            font-weight: 500;
        }
    }
    .review_footer{
        display: flex;
        justify-content: space-between;
    }
}

.site-logo{
    img{
        width: 246px;
        height: 92px;
    }

}

// .footer-section:before {
//     content: '';
//     position: absolute;
//     top: -146%;
//     left: -18%;
//     width: 44%;
//     height: 257%;
//     transform: rotate(54deg);
//     background-color: rgb(31, 47, 64);
//     -webkit-transform: rotate(54deg);
//     -moz-transform: rotate(54deg);
//     -ms-transform: rotate(54deg);
//     -o-transform: rotate(54deg);
//     z-index: -10;
// }

// .footer-section:after {
//     position: absolute;
//     content: '';
//     background-color: rgb(31, 47, 64);
//     top: -24%;
//     right: 4%;
//     width: 26%;
//     height: 264%;
//     transform: rotate(44deg);
//     -webkit-transform: rotate(44deg);
//     -moz-transform: rotate(44deg);
//     -ms-transform: rotate(44deg);
//     -o-transform: rotate(44deg);
//     z-index: -10;
// }

.footer-top {
    padding-top: 50px;
}

.footer-top p,
.company-footer-contact-list li {
    color: #ffffff;
}

.company-footer-contact-list {
    margin-top: 10px;
}

.company-footer-contact-list li {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.company-footer-contact-list li+li {
    margin-top: 5px;
}

.company-footer-contact-list li i {
    margin-right: 10px;
    font-size: 20px;
    display: inline-block;
}

.footer-top .site-logo {
    margin-bottom: 25px;
    display: block;
    max-width: 170px;
}

.widget-title {
    text-transform: capitalize;
}

.footer-top .widget-title {
    color: #ffffff;
    margin-bottom: 40px;
}

.courses-link-list li+li {
    margin-top: 10px;
}

.courses-link-list li a {
    color: #ffffff;
    text-transform: capitalize;
    font-family: var(--para-font);
    font-weight: 400;
}

.courses-link-list li a:hover {
    color: #ffb606;
}

.courses-link-list li i {
    margin-right: 5px;
}

.footer-top .small-post-title a {
    color: #ffffff;
    font-weight: 400;
}

.small-post-item .post-date {
    color: #ffb606;
    margin-bottom: 3px;
    font-family: var(--para-font);
    font-weight: 400;
}

.small-post-list li+li {
    margin-top: 30px;
}

.news-letter-form {
    margin-top: 15px;
}

.news-letter-form input {
    width: 100%;
    padding: 12px 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
}

.news-letter-form input[type="submit"] {
    width: auto;
    border: none;
    background-color: #ffb606;
    padding: 9px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #ffffff;
    margin-top: 10px;
}

.footer-bottom {
    padding: 13px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.149);
}

.copy-right-text {
    color: #ffffff;
}

.copy-right-text a {
    color: #ffb606;
}

.terms-privacy li+li {
    margin-left: 30px;
}

.terms-privacy li a {
    color: #ffffff;
    position: relative;
}

.terms-privacy li a:after {
    position: absolute;
    content: '-';
    color: #ffffff;
    display: inline-block;
    top: 0;
    right: -18px;
}

.terms-privacy li+li a:after {
    display: none;
}